<!doctype html>

<head>

  <!-- HTML Meta Tags -->
  <title>Bus Speed Tracker</title>
  <meta charset="UTF-8" />
  <meta name="description" content="How fast are Victoria buses?">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="http://busspeedtracker.herokuapp.com/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Bus Speed Tracker">
  <meta property="og:description" content="How fast are Victoria buses?">
  <meta property="og:image" content="https://github.com/HyperbolicStudios/YYJ-Bus-Speed-Tracker/blob/main/static/preview.png?raw=true">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="busspeedtracker.herokuapp.com">
  <meta property="twitter:url" content="http://busspeedtracker.herokuapp.com/">
  <meta name="twitter:title" content="Bus Speed Tracker">
  <meta name="twitter:description" content="How fast are Victoria buses?">
  <meta name="twitter:image" content="https://github.com/HyperbolicStudios/YYJ-Bus-Speed-Tracker/blob/main/static/preview.png?raw=true">

  <!-- Meta Tags Generated via https://www.opengraph.xyz -->

  <script src="https://kit.fontawesome.com/895917e848.js" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">

</head>


<body>

  <header id="topHeader" onclick="openNav()">
    <div></div>
    <h3>YYJ Bus Speed Tracker</h3>

    <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
    <div></div>
  </header>

  <nav id="menu">
    <div onclick="closeNav()">
      <h5 class="menu-text close" id="closeButton">&times;</h5>
    </div>
    <a href="/">
      <h5 class="menu-text">Home</h5>
    </a>
    <a href="https://github.com/hyperbolicstudios">
      <h5 class="menu-text">About</h5>
    </a>
    <div></div>

  </nav>
  <div class="divider"> </div>
  <div class="divider">
    <a id = "backbutton" href="https://markedwardson.me/projects">&larr; Back to portfolio</a>

  </div>

  <html>
  <iframe id="igraph"
    ,title="Map of Victoria, BC, showing the current positions of buses. The dots are coloured by bus speed on a red-green colour scale, with red indicating stopped or low speed, and green indicating high speed. Most dots are either red, orange, or yellow, indicating slow or medium speeds."
    scrolling="no" style="border:none;" seamless="seamless" src="/plotly" height="700" width="100%"></iframe>

  </html>

  <div>
    <div id="center" onclick="update()">Update</div>
  </div>



  <section class="container">

    <p>
      New data comes in every 15-20 seconds. Source: <a href="https://www.bctransit.com/open-data">BC Transit open data</a>.</p>
    <p>
      This site isn't affiliated with BC Transit, and neither them nor I make any representations about the accuracy of this data.</p>
    <p><em>Want the buses to go faster? Contact your local elected officials and tell them to implement bus lanes and transit priority signalling.</em></p>
    <p> <a href="https://github.com/HyperbolicStudios/YYJ-Bus-Speed-Tracker">This project is open-sourced on GitHub.</a>
    </p>
    <div class="divider">
    </div>
    <div class="divider">
    </div>
  </section>

  <footer id="footer">

    <p>&copy; 2022 Mark Edwardson</p>
    <a href="https://github.com/HyperbolicStudios/YYJ-Bus-Speed-Tracker"><i class="fa-brands fa-github fa-2xl"></i></a>

  </footer>

</body>

<script src="static/js/script.js"></script>
